html {
  font-family: 'TT Lakes', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
}

.header{
  min-height: 5.5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D9FFF5;
  box-sizing: border-box;
}

.header__menu{
  margin-left: 1rem;
}

.header__menu-button{
  margin-right: 1rem;
}

.header__actions,.header__sections, .header__operations, .header__menu{
  display: flex;
  align-items: center;
  padding-left: 0;
}

.header__actions{
  display: none;
}

.header__action, .header__operation{
  list-style-type: none;
  margin-right: 1rem;
}

.header__operations::before{
  content: url(../assets/img/divider.svg);
  margin: .25rem 1.25rem 0 .25rem;
}

/* main */

.button{
  font-family: 'TT Lakes';
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: -0.2px;
  white-space: nowrap;
  border: none;
  background-color: inherit;
  display: flex;
  margin-left: 0;
  padding: 0;
}

.service__caption{
  color: #1B1C21;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.service__caption::before{
  content: '';
  border-right: 4px solid #41F6D7;
  height: 2.5rem;
  border-radius: 0 .25rem .25rem 0;
  margin-right: 0.75rem;
}

.service__operations{
  display: none;
}

.service__operation{
  align-items: center;
  margin-right: 2rem;
}

.service__operation-text{
  font-weight: 500;
  color: #1B1C21;
  margin-right: 9px;
}

.navigation__items{
  display: flex;
  overflow: scroll;
  margin-left: 1rem;
  padding-left: 0;
}

.navigation__item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  height: 2.5rem;
  text-decoration: none;
}

.navigation__item:first-child{
  box-sizing: border-box;
  padding: .5rem 1rem;
  background-color: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.service__deskription{
  margin-top: 1.5rem;
}

.service__deskription-text{
  font-size: .875rem;
  margin: auto 1rem;
  letter-spacing: 0.2px;
  color: #1B1C21;
}

.service__deskription-p:nth-child(2),
.service__deskription-p:last-child{
  display: none;
}

.service__button{
  font-weight: 500;
  margin-left: 1rem;
}

.service__button img{
  margin-right: 0.5rem;
}

.service__image{
  margin-top: 1rem;
}

@media (min-width: 768px){
  .header__menu{
    margin-left: 1.5rem;
  }

  .header__menu::before{
    content: url(../assets/img/divider.svg);
    order: 1;
    margin: .25rem 1.25rem 0 .25rem;
  }

  .header__logo{
    order: 2;
  }

  .header__sections{
    margin-right: .5rem;
  }
  
  .header__actions{
    display: flex;
    justify-content: flex-end;
  }

  .service__caption{
    margin-bottom: 1.5rem;
  }

  .service__caption::before{
    margin-right: 1.25rem;
  }

  .navigation__items{
    margin-left: 1.5rem;
  }

  .service__navigation{
    margin-top: .5rem;
  }

  .service__deskription{
    margin-top: 0.5rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  .service__deskription-text{
    min-width: 19.5rem;
  }

  .service__deskription-p:nth-child(2){
    display: block;
  }

  .service__image{
    margin-right: 1.5rem;
  }
}

@media (min-width: 1120px){
  .header{
    display: none;
  }

  .service__caption-items{
    display: flex;
    justify-content: space-between;
    margin-top: 2.625rem;
  }
  
  .service__caption{
    margin-top: 0;
    margin-bottom: 0;
  }

  .service__caption::before{
    margin-right: 1.875rem;
  }

  .service__operations{
    display: flex;
  }

  .service__button{
    margin-top: .875rem;
  }

  .button__text{
    display: block;
  }

  .navigation__items{
    overflow:hidden;
    flex-wrap: wrap;
    margin-left: 2rem;
  }

  .service__deskription-p:last-child{
    display: inline;
  }

  .service__deskription-items{
    margin: 0 2rem;
  }

  .service__deskription-text{
    max-width: auto;
  }
}

