html {
  font-family: 'TT Lakes', sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F8F8F8;
}

.header{
  min-height: 5.5rem;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #D9FFF5;
  box-sizing: border-box;
}

.header__menu{
  margin-left: 1rem;
}

.header__menu-button{
  margin-right: 1rem;
  position: relative;
}

.header__menu-button::before{
  content: url(../assets/img/ic/icon-burger.svg);
  display: inline-block;
  vertical-align: middle;
  transform: translate(0, 15%);
  overflow: hidden;
  transition-duration: 600ms;
  transition-property: all;
  transition-timing-function: linear;
}

.header__menu-button:hover::before{
  transform:scale(0.9) translateY(-10%) rotate(-180deg);
}

.button__call{
  background: url(../assets/img/ic/call-icon.svg) no-repeat 50% 50%;
}

.button__chat{
  background: url(../assets/img/ic/chat-icon.svg) no-repeat 50% 50%;
}

.button__profile{
  background: url(../assets/img/ic/profile-icon.svg) no-repeat 50% 50%;
}

.button__repair{
  background: url(../assets/img/ic/repair.svg) no-repeat 50% 50%;
}

.button__check-status{
  background: url(../assets/img/ic/check-status.svg) no-repeat 50% 50%;
}

.button__call,
.button__chat,
.button__profile,
.button__repair,
.button__check-status{
  transition-duration: 500ms;
  transition-property: all;
  transition-timing-function: linear;
}

.button__call:hover,
.button__profile:hover,
.button__chat:hover,
.sidebar__search:hover,
.button__repair:hover,
.button__check-status:hover{
  transform: rotate(10deg) scale(1.1);
  filter: saturate(120%);
}

.header__actions,.header__sections, .header__operations, .header__menu{
  display: flex;
  align-items: center;
  padding-left: 0;
}

.header__actions{
  display: none;
}

.header__action, .header__operation{
  list-style-type: none;
  margin-right: 1rem;
}

.header__operations::before{
  content: url(../assets/img/divider.svg);
  margin: .25rem 1.25rem 0 .25rem;
}

/* main */
.header .button,
.service__operation{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.button{
  font-family: 'TT Lakes';
  margin-left: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  background-color: #FF3E79;
}

.button__nav{
  white-space: nowrap;
  display: flex;
  background-color: inherit;
}

.button__nav:hover{
  color: #7E7E82;
}

.service__caption{
  color: #1B1C21;
  font-weight: bold;
  font-size: 1.75rem;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.service__caption::before{
  content: '';
  border-right: 4px solid #41F6D7;
  height: 2.5rem;
  border-radius: 0 .25rem .25rem 0;
  margin-right: 0.75rem;
}

.service__operations{
  display: none;
}

.service__operation{
  align-items: center;
  margin-right: 2rem;
}

.service__operations .button__repair:after{
  content: "Оставить заявку";
  display: inline-block;
  font-weight: 500;
  white-space: nowrap;
  transform: translateX(-7rem);
  
}

.service__operations .button__check-status:after{
  content: "Статус ремонта";
  display: inline-block;
  font-weight: 500;
  white-space: nowrap;
  transform: translateX(-7rem);
}

.navigation__items{
  display: flex;
  overflow: scroll;
  margin-left: 1rem;
  padding-left: 0;
}

.navigation__item{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  height: 2.5rem;
  text-decoration: none;
}

.navigation__item--active{
  box-sizing: border-box;
  padding: .5rem 1rem;
  background-color: #FFFFFF;
  border: 2px solid #B8FFEC;
  border-radius: 6px;
}

.navigation__item--active .button__nav:hover{
  color: #1B1C21;
}

.service__deskription{
  margin-top: 1.5rem;
}

.service__deskription-text{
  font-size: .875rem;
  margin: auto 1rem;
  letter-spacing: 0.2px;
  color: #1B1C21;
}

.service__deskription-p:nth-child(2),
.service__deskription-p:last-child{
  display: none;
}

.service__button{
  font-weight: 500;
  margin-left: 1rem;
  background-color:inherit;
}

.service__button::before{
  content: url(../assets/img/ic/expand.svg);
  display: inline-block;
  transform: translateY(0.5rem);
  margin-right: 0.5rem;
}

.service__button:hover:before{
  animation-name: button_jumping;
  animation-duration: 1.2s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.service__image{
  margin-top: 1rem;
}

@media (min-width: 768px){
  .header__menu{
    margin-left: 1.5rem;
  }

  .header__menu::before{
    content: url(../assets/img/divider.svg);
    order: 1;
    margin: .25rem 1.25rem 0 .25rem;
  }

  .header__logo{
    order: 2;
  }

  .header__sections{
    margin-right: .5rem;
  }
  
  .header__actions{
    display: flex;
    justify-content: flex-end;
  }

  .service__caption{
    margin-bottom: 1.5rem;
  }

  .service__caption::before{
    margin-right: 1.25rem;
  }

  .navigation__items{
    margin-left: 1.5rem;
  }

  .service__navigation{
    margin-top: .5rem;
  }

  .service__deskription{
    margin-top: 0.5rem;
    margin-left: 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  .service__deskription-text{
    min-width: 19.5rem;
  }

  .service__deskription-p:nth-child(2){
    display: block;
  }

  .service__image{
    margin-right: 1.5rem;
  }
}

@media (min-width: 1120px){
  .header{
    display: none;
  }

  .service__caption-items{
    display: flex;
    justify-content: space-between;
    margin-top: 2.625rem;
  }
  
  .service__caption{
    margin-top: 0;
    margin-bottom: 0;
  }

  .service__caption::before{
    margin-right: 1.875rem;
  }

  .service__operations{
    display: flex;
  }

  .service__operation:first-child{
    margin-right: 9rem;
  }

  .button__repair:hover,
  .button__check-status:hover{
    transform: scale(1.1);
    filter: saturate(120%);
  }

  .button__text{
    display: block;
  }

  .navigation__items{
    overflow:hidden;
    flex-wrap: wrap;
    margin-left: 2rem;
  }

  .service__deskription-p:last-child{
    display: inline;
  }

  .service__deskription-items{
    margin: 0 2rem;
  }

  .service__deskription-text{
    max-width: auto;
  }
}

/* sidebar */

.sidebar{
  width: 320px;
  box-sizing: border-box;
  background-color:white;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.sidebar__header{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.sidebar .button{
  background-color: #FF3E79;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.sidebar__menu{
  background-image: url(../assets/img/ic/close-burger.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: linear;
}

.sidebar__menu:hover{
  background-image: url(../assets/img/ic/burger.svg);
}

.sidebar__menu::after{
  content: url(../assets/img/Group.svg);
  display: block;
  transform: translate(56px, -5px);
}

.sidebar__search{
  background-image: url(../assets/img/ic/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition-duration: 500ms;
  transition-property: all;
  transition-timing-function: linear;
}

.sidebar__navigatoin-list{
  margin-top: 1.875rem;
  padding: 0;
  list-style: none;
}

.sidebar__navigation-item{
  position: relative;
  padding-left: 1.5rem;
  margin-bottom: 2rem;
}

.sidebar__navigation-item--active::before{
  position: absolute;
  content: url(../assets/img/highlight.svg);
  height: 2rem;
  left:0;
  transform: translateY(-30%);
}

.sidebar__navigation-item--active .sidebar__navigation-link{
  color: #7E7E82;
}

.sidebar__navigation-link{
  text-decoration: none;
  color: #1B1C21;
  line-height: 1.5rem;
}

.sidebar__navigation-link:hover{
  color: #7E7E82;;
}

.sidebar__actions{
  list-style: none;
  display: flex;
  padding-top: 14.75rem;
  padding-left: 1.5rem;
}

.sidebar__action{
  margin-right: 1rem;
}

.sidebar__contacts{
  margin-left: 1.5rem;
  list-style: none;
  padding-left: 0;
}

.contact-email,
.contact-tel{
  display: inline-block;
  text-decoration: none;
  margin-bottom: 0.75rem;
  color: #1B1C21;
}

.contact-tel{
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.contact-email:hover,
.contact-tel:hover{
  color: blue;
}

.sidebar__lang-list{
  list-style: none;
  margin-top: 2.5rem;
  padding: 0 0 2.5rem 1.5rem;
  display: flex;
}

.sidebar__lang-item{
  margin-right: 0.5rem;
}

.sidebar__lang-link{
  text-decoration: none;
  color: #1B1C21;
}

.sidebar__lang-link:hover{
  color: #7E7E82;
}

.sidebar__lang-link--active{
  color: #7E7E82;
}

/* animations */

@keyframes button_jumping{
  50%{
    transform: translateY(-2px);
  }
  /* 100%{
    transform: translateY(0);
  } */
}